<!DOCTYPE HTML>
<html>
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h1>Ingreso Datos</h1>
    <form action="#" th:action="@{/Cuentas}" th:object="${Cuentas}" method="post">
		<p>Suma : <input type="text" size="3" th:field="*{n1}" /> + <input type="text" size="3" th:field="*{n2}"/ 
		th:text="' =  ' + ${Cuentas.rtaS}"</p>
		<p>Resta : <input type="text" size="3" th:field="*{n3}" /> - <input type="text" size="3" th:field="*{n4}"/ 
		th:text="' =  ' + ${Cuentas.rtaR}"</p>
		<p>Multiplicacion : <input type="text" size="3" th:field="*{n5}" /> * <input type="text" size="3" th:field="*{n6}"/ 
		th:text="' =  ' + ${Cuentas.rtaM}"</p>
		<p>Division : <input type="text" size="3" th:field="*{n7}" /> / <input type="text" size="3" th:field="*{n8}"/ 
		th:text="' =  ' + ${Cuentas.rtaD}"</p>
		
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
